.app {
  background: linear-gradient(to right, whitesmoke 50%, white 50%)
}

.logo {
  width:100%;
}

.form {
  padding: 15px;
}

.left {
  /* background-color: whitesmoke; */
  padding: 60px;
}

.right {
  padding: 60px;
}

.highlight {
  color: red;
}
